<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">
<head>
    <title>用户管理</title>
</head>
<body>


<section layout:fragment="content" id="app">
    <n3-data-table v-on:change="dataChange"
                   :source="source"
                   :columns="columns"
                   :pagination="pagination"
                   :loading="loading"
                   :filter-list="filterList"
                   :refresh="initUsers"
                   :async="true">
    </n3-data-table>
</section>

<footer layout:fragment="footer">
    <script>
       var app = new Vue({
            el: '#app',
            data: {
                selection: {
                    checkRows: [],
                    onSelect (record, checked, checkRows) {
                    },
                    onSelectAll (checked, checkRows, changeRows) {
                    },
                    getCheckboxProps (record) {
                        if (record.key == 2) {
                            return {
                                checked: true,
                                disabled: true
                            }
                        } else {
                            return {
                                disabled: false
                            }
                        }
                    }
                },
                loading: true,
                pagination: {
                    current: 1,
                    total: 10,
                    pagesize: 10
                },
                columns: [{
                    title: '账户',
                    dataIndex: 'account',
                    sort: true,
                    width: '100px'
                }, {
                    title: '姓名',
                    dataIndex: 'userDetail.username',
                    sort: true,
                    sortType: 'DESC',
                    width: '150px',
                    render: (text, record) => {
                        return `<span>${record.userDetail.username}</span>`
                    }
                }, {
                    title: '手机号码',
                    dataIndex: 'userDetail.phone',
                    sort: true,
                    sortType: 'DESC',
                    width: '150px',
                    render: (text, record) => {
                        return `<span>${record.userDetail.phone}</span>`
                    }
                }, {
                    title: '邮箱',
                    dataIndex: 'email',
                    width: '250px'
                }, {
                    title: '是否锁定',
                    dataIndex: 'state',
                    width: '100px',
                    render: function (text, record) {
//                        console.log(record)
                        return `${text == -1 ? '是' : '<span class="orange">否</span>'}`
                    }
                }, {
                    title: '操作',
                    dataIndex: '',
                    width: '150px',
                    render: (text, record, index) => {
                        return `<span class="item">
                    <n3-button size="xs" type="danger" v-on:click.native="del('${record.id}','${record.account}','${index}')">删除</n3-button>
                  </span>`
                    }
                }],
                source: [],
                filterList: [{
                    title: '是否锁定',
                    dataIndex: 'state',
                    options: [{value: "-1", label: "已锁定"}, {value: "1", label: "未锁定"}],
                    value: [],
                    // multiple,search,extra
                }]
            },
            methods: {
                change (p, q, s, f) {
                    console.log(p)
                    console.log(q)
                    console.log(s)
                    console.log(f)
                },
                refresh () {
                    this.dataChange
                },
                del: function (id, account) {
                    let self = this
                    self.n3Modal.confirm({
                        title: '删除用户-' + id,
                        message: `<h3>确定删除？</h3><p>ID:${id}</p><p>账户:${account}</p>`,
                        effect: 'zoom',
                        type: 'warning',
                        onShow () {
                            console.log('打开对话框时触发')
                        },
                        onConfirm () {
                            console.log('点击确定按钮时触发')
                            console.log(self.$wepapi)
                            axios.delete(self.$wepapi + 'user/' + id + '/delete').then(res => {
                                self.initUsers()
                                if(res.data.success) {
                                    self.n3Alert({
                                        content: res.data.message,
                                        type: 'success',
                                        placement: 'top-right',
                                        duration: 2000,
                                        width:'200px' // 内容不确定，建议设置width
                                    })
                                }
                            }, err => {
                                self.n3Alert({
                                    content: err.data.message,
                                    type: 'error',
                                    placement: 'top-right',
                                    duration: 2000,
                                    width:'200px' // 内容不确定，建议设置width
                                })
                            })
                        },
                        onHide () {
                            console.log('关闭对话框时触发')
                        }
                    })
                },
                initUsers: function () {
                    let queryObj = {
                        page: 0,
                        size: 10,
                        index: 'id',
                        direction: 'ASC',
                        entity: {
                            account: '',
                            email: '',
//                            locked: false,
                            state: 0,
                            userDetail: {
                                username: '',
                                gender: 0,
                                phone: ''
                            }
                        }
                    }
                    let self = this
                    axios.post(self.$wepapi + "user/page", queryObj).then(res => {
                        self.loading = false
                        self.pageBean = res.data.entity
                        self.source = res.data.entity.content
                        self.pagination.total = res.data.entity.totalElements
                        self.pagination.current = res.data.entity.number + 1
                        self.pagination.size = res.data.entity.size
                    })
                },
                dataChange: function (page, query, sort, filter) {
                    console.log(sort)
                    let state = 0
                    if (filter[0]) {
                        if (filter[0].value.length == 1) {
                            state = filter[0].value[0]
                        } else if (filter[0].value.length == 2) {
                            state = 0
                        }
                    }
                    let queryObj = {
                        page: page.current - 1,
                        size: page.pagesize,
                        index: sort.index,
                        direction: sort.type,
                        entity: {
                            account: query,
                            email: query,
                            state: state,
                            userDetail: {
                                username: query,
                                gender: 0,
                                phone: query
                            }
                        }
                    }
                    let self = this
                    axios.post(self.$wepapi + "user/page", queryObj).then(res => {
                        console.log(res)
                        self.loading = false
                        self.pageBean = res.data.entity
                        self.source = res.data.entity.content
                        self.pagination.total = res.data.entity.totalElements
                        self.pagination.current = res.data.entity.number + 1
                        self.pagination.size = res.data.entity.size
                    })
                },
                hello: function () {
                    console.log('hello')
                    this.$refs.delModal.close()
                }
            },
            mounted () {
                this.initUsers()
            }
        })
    </script>
</footer>
</body>
</html>