spring:
  mail:
    host: smtp.wservice.com.cn
    username: zhangzheng@wservice.com.cn
    password: Zz_940424
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  redis:
      database: 0
      host: localhost
      port: 6379
      password:
      pool:
        max-active: 8
        max-wait: -1
        min-idle: 0
        max-idle: 8
      timeout: 0
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dbgirl?seUnicode=true&characterEncoding=UTF-8
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
  thymeleaf:
    cache: false
  data:
    elasticsearch:
      repositories:
        enabled: true
      cluster-nodes: 127.0.0.1:9300
server:
  port: 8888
password:
  algorithmName: md5
  hashIterations: 2

query-object:
  page: 0
  size: 10
  sort: id



